body {
  background-image: url(/web.html/background_register.jpg);
  background-size: 210%;
  background-position: left top;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#contenedor {
  background-color: #bd7d7e;
  flex-direction: column;
  width: 600px;
}

form{
    margin:20px;
}

h1{
    margin:10px;
}

.container_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}
.completo input[name="nombre"],
.completo input[name="apellido1"],
.completo input[name="apellido2"],
.completo input[id="emailInput"],
.completo input[name="telefonomovil"] {
  width: 95%;
  padding: 3px;
  background-color:#c8c8c8;
}

#direccion_container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.completo input[name="direccion"],
.completo input[name="codigopostal"],
.completo input[name="municipio"] {
  width: 95%;
  padding: 3px;
  background-color:#c8c8c8;
}

#provincia, #pais{
    width: 100%;
    padding: 3px;
    background-color:#c8c8c8;
}

button{
    background-color: black;
    color:white;
    padding: 5px;
    width: 30%;
    border-radius: 3px;
}
